<button type="button" id="addDiscountCodeBtn" class="btn btn-primary custom-button">Dodaj kod rabatowy</button>
<div id="discountCodeFormContainer" style="display: none;">
    {{ form_start(discountCodeForm) }}

    {{ form_end(discountCodeForm) }}
    <button type="button" class="btn btn-primary custom-button" id="checkDiscountCodeBtn">Sprawdź kod rabatowy</button>
</div>