{% extends 'base.html.twig' %}

{% block content %}
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Formularz logowania</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {# Wyświetlenie formularza logowania #}
                    {{ form_start(loginForm) }}
                    {{ form_row(loginForm.email) }}
                    {{ form_row(loginForm.password) }}
                    <button type="submit" class="btn btn-primary">Zaloguj</button>
                    {{ form_end(loginForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}